# Variables de entorno de la aplicación móvil
# Para que funcione en modo local (desarrollo), puedes dejar esta línea comentada.
# Para conectar con tu servidor en la nube, descoméntala y pon la URL de Render.

# EXPO_PUBLIC_API_URL=https://pastiya-backend.onrender.com
